<a ui-sref="users">Visa alla användare</a>

<div class="col-md-12">
	<div class="form-group">
	  <label for="name" class="col-sm-2 control-label">Namn</label>
	  <div class="col-sm-10">
	    <input type="text" ng-model="user.name" class="form-control" id="name" placeholder="Användarens namn?"/>
	  </div>
	</div>
	<div class="form-group">
	  <label for="email" class="col-sm-2 control-label">E-mail</label>
	  <div class="col-sm-10">
	    <input type="email" ng-model="user.email" class="form-control" id="email" placeholder="Användarens epost?"/>
	  </div>
	</div>
	<div class="form-group">
	  <div class="col-sm-offset-2 col-sm-10">
	    <input type="submit" class="btn btn-primary pull-right" value="Spara"/>
	  </div>
	</div>
</div>