<h1>Alla användare!</h1><br>

<h2>Som JSON-array</h2>
<code>{{users}}</code>

<h2>Utskrivna i tabell</h2>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Namn</th>
			<th>Adress</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="user in users">
	        <td><a class="btn btn-flat" ui-sref="editUser({id:user.id})">{{user.name}}</a></td>
	        <td>{{user.email}}</td>
	    </tr>
    </tbody>

</table>